<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
 <body>
  <form action="/login" method="post" class="afterSignIn">
     <section class="panel">
        <div class="panel-body">
           <form class="form-horizontal">
		        <div class="text-box">
		               <div class="signup-wrapper">
		               
		                	  <h1 align="center">Login to your account</h1>
		               
		                      <input type="email" class="form-control" name="username" id="username" placeholder="Email Id">
		                      <span>&nbsp;&nbsp;&nbsp;<br></span>
		                      
		                      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
	                 		  <span>&nbsp;&nbsp;&nbsp;<br></span>
			            </div>
			                  
		                  <div class="form-group ">
		                    <div class="signIn" align="center">
		                      <button type="submit" class="btn btn-primary">Sign in</button>
		                    </div>
		                  </div>
		        </div>
           </form>
        </div>
     </section>
  </form>	
 </body>
 
</html>